.image-card {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin-bottom: 5%;
}

.gallery {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 5%;
}

.welcome {
    margin-top: 3%;
    position: relative;
    width: 20%;
}

.container {
    display: flex;       /* Enables Flexbox layout */
    justify-content: space-between; /* Distributes space between and around content items */
    align-items: flex-start; /* Aligns items to the start of the flex container */
}

.welcome {
    flex: 1;  /* Each child will take equal width */
}

.image {
    width: 100%;   /* Makes the image fill the container */
    height: auto;
    border-bottom: 1px solid #ccc; /* Separates the image from the text */
}

.info {
    padding: 10px;
}

.description, .author, .style {
    margin: 5px 0;
    font-size: 0.9em;
}