<div class="wrapper">
  <div class="menu">
    <app-menu (selectArts)="handleSelectArts($event)"></app-menu>
  </div>
  <div class="side-panel left-panel"></div>
  <div class="content">
    <div class="gallery">
      <div *ngFor="let image of images" class="image-card"> 
        <img [src]="image.url" [alt]="image.description" class="image">
        <div class="info">
          <p class="description">Description: {{ image.description }}</p>
          <p class="author">Author: {{ image.author }}</p>
          <p class="style">Style: {{ image.category }}</p>
          <p class ="like">Likes: {{ image.likes }}</p>
          <p><img src="assets/img/thumb.jpg" width="32px"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="side-panel right-panel"></div>
</div>
