@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.wrapper {
    display: flex;
    min-height: 100vh; /* Ensures full screen height */
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #c3cfe2, #e2c3dd); /* Gradient from muted lavender to light dusty pink */
    color: #333;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 200px)); /* Столбцы шириной не более 150px */
    
    grid-auto-rows: auto; /* Высота строк фиксирована для однородности */
    grid-gap: 5px; /* Минимальный зазор между элементами */
    padding: 1px;
    justify-content: center;
}


.side-panel {
    width: 120px; /* Width of the side panels */
    background-color: #f1e3f5; /* Light pastel background for the side panels */
    padding: 1;
    
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

.left-panel {
    left: 0;
}

.right-panel {
    right: 0;
}

.content {
    flex: 1;
    margin: 0 100px; /* Space for side panels */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Creates a dynamic grid layout */
    grid-gap: 15px;
    padding: 20px;
    align-items: start;
}

.image-card {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.image-card:hover {
    transform: scale(1.1); /* Dynamic scaling on hover */
}

.image {
    width: 100%;
    height: auto;
    display: block;
}

.info {
    padding: 10px;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white for readability */
    text-align: center;
}

.description, .author, .style {
    color: #6a6470; /* A darker shade for text for better readability */
    font-size: 0.9em;
}
.like {
    color: #9c0000;
}

@media (max-width: 768px) {
    .side-panel {
        width: 100px; /* Smaller side panels on smaller screens */
    }

    .content {
        margin: 0 10px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Smaller grid items on smaller screens */
    }
}

