@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.wrapper {
    display: flex;
    min-height: 100vh; /* Ensures full screen height */
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #c3cfe2, #e2c3dd); /* Gradient from muted lavender to light dusty pink */
    color: #333;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Столбцы шириной не менее 180px */
    grid-auto-rows: 10px; /* Высота строк по умолчанию 10px */
    grid-auto-flow: dense; /* Заполнение пробелов */
    gap: 5px; /* Минимальный зазор между элементами */
   
    padding: 10px;
}

.gallery > div {
    display: grid;
    grid-gap: 5px;
}

.image-card {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    grid-row-end: span 30; /* Позволяет элементам занимать разные строки */
}

.image-card:hover {
    transform: scale(1.05); /* Немного уменьшаем масштабирование на hover */
}

.image {
    width: 100%;
    height: auto;
    display: block;
}

.info {
    padding: 3px;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white for readability */
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
}

.description, .author, .style {
    color: #6a6470; /* A darker shade for text for better readability */
    font-size: 0.9em;
}
.like {
    color: #9c0000;
}

@media (max-width: 768px) {
    .side-panel {
        width: 100px; /* Smaller side panels on smaller screens */
    }

    .content {
        margin: 0 10px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Smaller grid items on smaller screens */
    }
}
