<body class="body">
  <div class="auth-container">
    <form (ngSubmit)="isLogin ? onLogin() : onRegister()" #authForm="ngForm">
      <h2>{{ isLogin ? 'Login' : 'Registration' }}</h2>
      <label for="username">User name:</label>
      <input type="text" id="username" name="username" ngModel required>
  
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" ngModel required>
  
      <div *ngIf="!isLogin">
        <label for="confirmPassword">Repeat password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" ngModel required>
      </div>
      <button type="submit">{{ isLogin ? 'Login' : 'Registration' }}</button>
      <button type="button" (click)="toggleForm()">
        {{ isLogin ? 'Go to registration' : 'Already registered? Login' }}
      </button>
    </form>
    <a href="http://localhost:3000/auth/google" class="google-btn">
      <span class="google-icon-wrapper">
        <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/e/e1/Google_Chrome_icon_%28February_2022%29.svg" alt="Google sign-in"/>
      </span>
      <span class="btn-text">Login with Google</span>
    </a>

    <a href="/store" class="view-all-link">View all works</a>
</div></body>