.auth-container {
    width: 100%;
    max-width: 360px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin: 40px auto;
  }
  
  .auth-container form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .auth-container label {
    margin-bottom: 5px;
    color: #666;
  }
  
  .auth-container input[type="text"],
  .auth-container input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 93%;
  }
  
  .auth-container button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .auth-container button[type="submit"] {
    background-color: #4CAF50;
    color: white;
  }
  
  .auth-container button[type="button"] {
    background-color: #f44336;
    color: white;
  }
  
  .auth-container button:hover {
    opacity: 0.8;
  }
  
  .auth-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
.view-all-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    color: #007BFF;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.view-all-link:hover, .view-all-link:focus {
    color: #0056b3;
    text-decoration: none;
    border-color: #007BFF;
}
